.bd-content .section table {
    display: table;
}

.table td, .table th {
    padding: .1rem;
}

code {
 white-space:nowrap;
 max-width:100%;
 font-size:85% !important;
 background:rgba(var(--pst-color-preformatted-background),1);
 border:1px solid #c9c9c9;
 padding:0 5px;
 overflow-x:auto;
 box-shadow: 1px 1px 1px #d8d8d8;
 border-radius: 3px;
}

main.bd-content #main-content .footnote-reference, main.bd-content #main-content a.bibtex.internal, main.bd-content #print-main-content .footnote-reference, main.bd-content #print-main-content a.bibtex.internal{
 font-size: 0.8em !important;
}